body {
  text-align: center;
  font-family: Helvetica;
}

nav {
  color: white;
  background-image: url("the-flatiron-building.png");
}

h1 {
  font-weight: bold;
  font-size: 70px;
}

.nav {
  font-size: 18px;
  color: white;
}

#process {
  font-size: 32px;
  font-weight: bold;
}

h3, #work {
  font-weight: bold;
  font-size: 23px;
}

#work {
  background-image: url("the-flatiron-building.png");
  color: white;
}

p {
  font-size: 14px;
}

h3 {
  font-size: 23px;
}

.footer {
  background-color: dimgray;
  color: white;
  font-size: 11px;
  text-align: left;
}
